@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .signature-gradient {
    background: linear-gradient(135deg, #0037B0 0%, #1D4ED8 100%);
  }
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Base body styles fallback (in case they don't apply correctly down the tree) */
body {
  margin: 0;
  display: block;
  min-height: 100vh;
}
